* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    scroll-behavior: smooth;
}

body { 
    margin: 0 auto;
    background: rgb(230, 230, 230);
}

h1 {
    font-size: 30px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(54, 54, 54);
    text-transform: uppercase;
}

nav {
    display: flex;
    flex-direction: row;       
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;    
    background: cornflowerblue;
    height: 45px;
    margin-bottom: 30px;
}

nav li {
    list-style: none;
    padding: 5px 20px;
}

nav li a {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    font-family: monospace;
}

nav li a:hover{
    color:darkslateblue;
}
