* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: rgb(230, 230, 230);
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(40, 40, 40);
    text-transform: uppercase;
}